.frame{
  background: grey;
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 1100px;
  border: 2px solid black;

}

#heading{
  padding-left: 35px;
  color: #263238;
}

.column{
  
  margin-right: 600px;
  margin-left: 25px;
  margin-top: 5px;

}

#list{
  list-style: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  
  padding-left: 5px;
  padding-top: 10px;


}

#name{
  padding-left: 40px;
  margin-top: -50px;
  color: #263238;
}

#RF{
  margin-left: 80px;
  margin-top: -40px;
  color: #263238;
}

#light{
  width: 15px;
  border-radius: 50%;
  margin-left: 30px;
}

.body{
  background: #cfd8dc;
}