<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/script.js') }}"></script>
    <meta charset="UTF-8">
    <title>Radio</title>

</head>
<body class="body">

    <div class="frame">

        <table id="table">
            <div class="table-div">
                <tr>
                    <th id="text">Kentronakan</th> 
                    <th id='radio'>{{rf}}</th>
                    <th id="button"> <button onclick="update()" title="efe"></button></th>
                    <th id="link"> <a href="https://www.google.com">link</a></th>
                </tr>
            </div>
        </table>

    </div>


</body>
</html>