<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/update.js') }}"></script>
    <meta charset="UTF-8">
    <title>Radio</title>
    <link rel="icon" href="data:,">

</head>
<body class="body">

    <div>
        <h3 id="heading"> Kentronakan </h3>
    </div>

{% for n in range(0, rflen) %}
    <div class="column">
        <ul id="list">
            <li>
                <img id="icon{{n}}" src="static/Icons/75%.png", alt="OK", width="35", height="35">
            </li>
            <li id="name"> 
                {%if n == 0%}
                    <h5> Nano | 102.5 Mhz </h5>
                {%endif%}
                {%if n == 1%}
                    <h5> Uno | 103.4 Mhz</h5>
                {%endif%}
                
            </li>
            <li id="RF">
                <h6 id="rf{{n}}"> {{rf[n]}} </h6>
                <h6 id="test{{n}}">  </h6>
            </li>
        </ul>

    </div>
{% endfor %}

</body>

<script type="text/javascript" src="{{ url_for('static', filename='javascript/script.js') }}">
</script>

    
</html>